# JWT — 256비트 이상 랜덤 문자열 권장
JWT_SECRET=CHANGE_ME_BASE64_32_BYTES_MINIMUM_STRING
JWT_ACCESS_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION=604800000

# server port, 유레카 클라이언트 호스트명
SERVER_PORT=도메인_서비스별_포트번호
HOSTNAME=localhost

# 아래의 환경변수들은 .env 파일에만 포함하여 빌드 시에만 사용되며, .env.runtime에서는 생략됨
# 배포 환경에서도 공통 모듈을 적용하기 위해 Dockerfile에 추가해야 할 환경변수
GPR_USER=GitHub_ID
GPR_TOKEN=GitHub_Personal_Access_Token(PAT)

EUREKA_SERVER_URL=http://localhost:8761/eureka/
ZIPKIN_ENDPOINT=http://localhost:9411/api/v2/spans